@model MyBookStore.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="container-fluid">
        <!-- Breadcrumbs-->

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">User</a>
            </li>
            @*<li class="breadcrumb-item ">All Authors</li>*@
            <li class="breadcrumb-item active">User Details</li>


        </ol>
        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-book-open"></i>
                User Details

            </div>
            <div class="card-body">


                @Html.HiddenFor(m => m.UserId)
                @if (Model.Photo != null)
                {
                    <div class="col-md-6">
                        <h3><strong>User Profile:</strong></h3><hr />
                        <div class="form-group">
                            <div class="col-md-10">
                                <h6>User's Image</h6>

                                <a><img , src="@Url.Content(Model.Photo)" style="height:200px" width="150"></a>

                                @*<div class="panel-body">
                            <h4>Choose Book Image</h4>
                            <input type="file" name="Image" id="file" style="width: 100%;" />
                            @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })


                        </div>*@


                            </div>
                        </div>

                    </div>
                }




                <div class="col-md-6">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <h6>First Name : @Html.DisplayFor(model => model.FirstName)</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <h6>Last Name :  @Html.DisplayFor(model => model.LastName)</h6>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <h6>User Name : @Html.DisplayFor(model => model.Username)</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <h6>Email :    @Html.DisplayFor(model => model.Email)</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10" format="dd-MM-yyyy">
                            <h6>Registration Date : @Model.RegDate.Value.ToLongDateString()</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">

                            <a onclick="window.history.back();" class="btn btn-outline-warning">Back</a>
                            <a href="@Url.Action("Edit", "Account", new { id = Model.UserId })" class="btn btn-outline-info">Edit Picture</a>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-6">
                    <div class="form-group">
                       
                        <div class="col-md-10">

                            
                            <a href="@Url.Action("EditPassword", "Account", new { id = Model.UserId })" class="btn btn-outline-danger">Change Password</a>
                        </div>
                    </div>
                </div>*@


            </div>
        </div>
    </div>
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="container-fluid">
       <p>You Have No Access. Please Login to access...<br />
        Thank You.</p>
        <a href="@Url.Action("Login", "Account")"></a>

    </div>
}