@model MyBookStore.Models.UserViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 style="color:forestgreen">User Registration</h1>
    <h4 class="text-danger">@ViewBag.Message</h4>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        <div class="col-md-6">
            <h5>First Name:</h5>
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter First Name Here..." } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <h5>Last Name:</h5>
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Last Name Here..." } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <h5>Email Address:</h5>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email Address Here...", @autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <h5>Passowrd:</h5>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { id = "myInput", @class = "form-control", @placeholder = "Enter Your Password Here..." } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })<br />
            <input type="checkbox" onclick="myFunction()">Show Password
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <h5>Confirm Passowrd:</h5>
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { id = "myInput1", @class = "form-control", @placeholder = "Re-Enter Your Password Here..." } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })<br />
            <input type="checkbox" onclick="myFunction1()">
            <label for="">Show Password</label><br>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
            <input type="submit" value="Sign Up" class="btn btn-success" />
            <label class="pull-right">
                Already have an account?
                <a  href="@Url.Action("Login","Account")"> Login Here...</a>
            </label>
        </div>

    </div>
</div>
    }
</div>

<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>

<script>
    function myFunction1() {
        var x = document.getElementById("myInput1");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}