
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Main Content -->
<div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

            </li>

        </ol>
        <!-- Page Heading -->
        <!--<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

        </div>-->
        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-md-3 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    All Books
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.AllBooks</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-book-open fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Earnings (Monthly) Card Example -->
            <div class="col-md-3 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Buyable Books
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.BuyAble</div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-gift fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-md-3 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Completed Books
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Completed</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-book-reader fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Cancle orders-->

            <div class="col-md-3 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                    Lended Books
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Lended</div>
                            </div>
                            <div class="col-auto">
                                <i class=" fas fa-parachute-box fa-2x text-gray-300 "></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




        <!-- Content Row -->
        <div class="row">



            <div class="col-md-12 mb-4">

                <div class="container-fluid">

                    <!-- DataTables Example -->
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-book"></i>
                            Last Added Books
                            @*<a href="../Admin/AddCategory" class="btn btn-info pull-right fa fa-plus">Add New</a>*@
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            @*<th>Sr.No</th>*@
                                            <th>Name</th>
                                            <th>Author</th>
                                            <th>Category</th>
                                            <th>Buying Date</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (MyBookStore.Models.Book item in @ViewBag.latest)
                                        {

                                            <tr>
                                                @*<td>@(item.IndexOf(item)+1)</td>*@
                                                <td>@item.BookName</td>
                                                <td>@item.Author.AuthorName</td>
                                                <td>@item.Category.CategoryName</td>
                                                <td>@item.BuyingDate.GetValueOrDefault().ToLongDateString()</td>


                                            </tr>

                                        }

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
